<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="initial-scale=1, maximum-scale=1" name="viewport" />
</head>

<body style="font-family: Arial, Helvetica, sans-serif; color: #46535e; width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; font-size: 14px; line-height: 20px">
    <div style="padding: 10px; background-color: #F9F8FD;">
        <div style="display: table; max-width: 767px; min-width: 256px; margin-left: auto;margin-right: auto; margin-bottom: 20px; background: #fff; border-radius: 5px; border: 1px solid #eee;">
            <div style="border-bottom: 1px solid #eee; padding: 30px 0 20px; margin: 0 30px; text-align: center">
                <a href="https://mscgroup.co.in/admin" target="_blank"><img src="https://mscgroup.co.in/admin/resources/images/logo-dark.png?version=4" style="width: 30%" /></a>
            </div>
            <!-- Content -->
            <div style="max-width: 767px; display: table; margin-left: 30px; margin-right: 30px; margin-bottom: 30px; margin-top: 30px;">
                <p>Dear <span th:text="${userName}"></span></p>
                <div th:utext="${emailBody}"></div>
            </div>
        </div>
        <div style="text-align: center;">
            <span style="font-size: 12px; padding: 0; margin: 0; font-weight: bold; color: #9E9E9E">Msc Chemicals</span>
            
            <div style="padding-top: 5px; padding-bottom: 5px; text-align: center;">
                <a href="https://www.facebook.com/mscgroup" target="_blank"><img th:src="@{${fblogoUrl}}" width="25px" border="0" alt="Facebook"/></a>
                <a href="https://www.linkedin.com/company/mscgroup" target="_blank"><img th:src="@{${lilogoUrl}}" width="25px" border="0" alt="Linkedin"/></a>
                <a href="https://twitter.com/mscgroup" target="_blank"><img th:src="@{${twlogoUrl}}" width="25px" border="0" alt="Twitter"/></a>
                <a href="https://www.instagram.com/mscgroup" target="_blank"><img th:src="@{${inlogoUrl}}" width="25px" border="0" alt="Instagram"/></a>
            </div>
            <div style="font-size: 12px;">
                <a style="color: #26c6da; text-decoration: none;" href="http://mscgroup.co.in/about.php" target="_blank">About Us</a>
            </div>
        </div>
    </div>
</body>

</html>
