<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="initial-scale=1, maximum-scale=1" name="viewport" />
    <link rel="stylesheet" href="template.css" />
</head>

<body>
    <h1>GST Invoice</h1>
    <table class="table">
        <tbody>
            <tr>
                <td class="no-border" style="width: 50%;padding: 0;">
                    <table class="header table table-bordered table-bordered-dark ">
                        <tbody>
                            <tr style="height: 115px;">
                                <td style="border-right: 0;">
                                    <a href="https://bestpals.in" target="_blank">
                                        <img src="logo.png" />
                                    </a>
                                </td>
                                <td style="border-left: 0;">
                                    <div>
                                        <h4>MSC CHEMICALS</h4>
                                        <p class="small">
                                            No.6C, 1st Floor, Puttappa Ind. Estate <br />
                                            Deepanjalinagar, Mysore Road, <br />
                                            Bangalore Karnataka - 560026, India <br />
                                            MSME UAM No.KR03D0103291 <br />
                                            GSTIN/UIN: 29ADTPM1413B1ZP <br />
                                            State Name : Karnataka, Code : 29 <br />
                                            Contact : 080-26742928 <br />
                                            E-Mail : info@mscgroup.co.in <br />
                                            www.mscgroup.co.in <br />
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr style="height: 102px;">
                                <td colspan="2">
                                    <h5>Leo Nutriscience LLP</h5>
                                    <p class="small">
                                        67, Bharti Workshopm Ind Esta, Vidyanagri Marg,
                                        <br />City: Mumbai, State: Maharashtra, <br />Zip
                                        code: 400098.<br />GSTIN/UIN: 123455666G55 <br />State
                                        Name: Gujarat, Code: 24
                                    </p>
                                </td>
                            </tr>
                            <tr style="height: 150px;">
                                <td colspan="2">
                                    <h5>Leo Nutriscience LLP</h5>
                                    <p class="small">
                                        67, Bharti Workshopm Ind Esta, Vidyanagri Marg,
                                        <br />City: Mumbai, State: Maharashtra, <br />Zip
                                        code: 400098. <br /><br />GSTIN/UIN: 123455666G55
                                        <br />State Name: Gujarat, Code: 24 <br /><br />
                                        Contact Person: Mr. Butani <br />Contact: +91
                                        903456735
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="no-border" style="width: 50%;padding: 0;">
                    <table class="header table table-bordered table-bordered-dark ">
                        <tbody>
                            <tr style="height: 35px;">
                                <td>
                                    <p>Invoice no</p>
                                    <span>12444</span>
                                </td>
                                <td>
                                  <p>Dated</p>
                                  <span>21-April-2020</span>
                                </td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                  <p>Delvery Date</p>
                                  <span>28-Aril-2020</span>
                                </td>
                                <td>
                                  <p>Mode/Term of payment</p>
                                  <span>60 Days</span>
                                </td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                  <p>Supplier Refference</p>
                                  <span>Email</span>
                                </td>
                                <td>
                                  <p>Other Refference</p>
                                  <span>PS</span>
                                </td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                  <p>Buyer Order No. </p>
                                  <span>Email</span></td>
                                <td>
                                  <p>Dated </p>
                                  <span>16-March-2020</span>
                                </td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                    <p>Dispatch Document No. </p>
                                    <span>12442j4rewrw</span>
                                </td>
                                <td>
                                  <p>Delivery Note Date </p>
                                  <span>20-March-2020</span></td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                    <p>Dispatch through. </p>
                                    <span>Scorpion express</span>
                                </td>
                                <td>
                                  <p>Destination </p>
                                  <span>Gandhinagar.</span>
                                </td>
                            </tr>
                            <tr style="height: 35px;">
                                <td>
                                    <p>Bill of landing/LR-RR No. </p>
                                    <span>3fdfsf4, dt.12-April-2020</span>
                                </td>
                                <td>
                                  <p>Motor Vechile No. </p>
                                  <span></span>
                                </td>
                            </tr>
                            <tr style="height: 100px;">
                                <td colspan="2">
                                    Terms of Delivery
                                    <p></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-bordered-dark table-tr table-main">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Description of Goods</th>
                <th>HSN/SAC</th>
                <th>GST Rate</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Per</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 100px;">
                <td>1</td>
                <td>
                    <span>Betaine Anhydrous - not for medical use</span> <br />Batch &nbsp;
                    : A20191122 <br />
                    Mfg Dt &nbsp; : 22-Nov-2019 <br />
                    Expiry &nbsp; : 21-Nov-2021
                </td>
                <td>299338</td>
                <td>18%</td>
                <td><span>50.00 Kgs</span></td>
                <td>600.00</td>
                <td>Kgs</td>
                <td><span>30,000,00</span></td>
            </tr>
            <tr style="height: 70px;">
                <td></td>
                <td><span>IGST OUTPUT</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span>5,400.00</span></td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td></td>
                <td><span>50.00 Kgs</span></td>
                <td></td>
                <td></td>
                <td><span>35,400.00</span></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-bordered-dark table-details">
        <tbody>
            <tr>
                <td style="width: 50%">
                    Amount Chargeable (in words) <br />
                    <span>Indian Rupees Thirty Five Thousand Four Hundred Only</span><br /><br />
                    Company's PAN: <span>DFAS3445</span> <br />
                    Declaration:<br />
                    We delcare that the invoice show the actual price the goods
                    described and that all particlulars are true and correct.
                </td>
                <td style="width: 50%">
                    Date & Time: <span>21-April-2020 at 12:55</span><br />
                    Company's Bank details: <span>BANK OF INDIA - CC/AC</span><br />
                    A/c No: <span> 4444444</span> <br />
                    Banch & IFS Code: <span>JC Road & SBIN99NEJJ</span>
                </td>
            </tr>
            <tr style="height: 80px;">
                <td style="width: 50%">
                    Customer's Seal and Signature
                </td>
                <td style="width: 50%">
                    <table class="table">
                        <tbody>
                            <tr class="no-border">
                                <td style="width: 30%;"></td>
                                <td style="width: 30%;"></td>
                                <td style="width: 40%;">
                                    <p><span>for MSC CHEMICALS</span></p>
                                </td>
                            </tr>
                            <tr style="height: 30px;" class="no-border">
                            </tr>
                            <tr class="no-border">
                                <td style="width: 30%;">
                                    Prepared by
                                </td>
                                <td style="width: 30%;">
                                    Verified by
                                </td>
                                <td style="width: 40%;">
                                    Authorized Signatory
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <p>SUBJECT TO BANGALORE JURISDICTION</p>
        <p>This is a Computer Generated Invoice</p>
    </div>
</body>

</html>